.promotional{
    width: 1225px;
    min-height: 667px;
    .check {
        display: flex;
        margin-left: -8px;
        margin-top: 20px;
        div {
          border: 1px solid #aaa;
          color: #aaa;
          background-color: #202124;
          padding: 6px;
          font-size: 12px;
          display: inline-block;
          border-radius: 8px;
          margin: 0 10px;
          cursor: pointer;
          box-sizing: border-box;
        }
        .checked-now{
          background-color: #21639d;
          color: #ffffff;
          padding: 8px;
          border: 0px;
        }
      }
      .now-prom{
        margin-top: 70px;
        a{
          color: #D4E05C;
        }
      }
      .closed{
        margin-top: 70px;
        a{
          color: #D4E05C;
        }
        div{
          margin-top: 10px;
        }
        .link{
          margin-top: 30px;
        }
      }
}
