.promotional{
    width: 1225px;
    min-height: 667px;
    // margin-left: -140px;
    .check {
        display: flex;
        margin-left: -8px;
        margin-top: 20px;
        a{
          color: #aaa;
          
        }
        div {
          border: 1px solid #aaa;
          color: #aaa;
          background-color: #202124;
          padding: 6px;
          font-size: 12px;
          display: inline-block;
          border-radius: 8px;
          margin: 0 10px;
          cursor: pointer;
          box-sizing: border-box;
        }
        .checked-now{
          background-color: #21639d;
          color: #ffffff;
          padding: 8px;
          border: 0px;
        }
      }
      .now-prom,.upcoming{
        margin-top: 70px;
        font-size: 20px;
        color: #CCC;
        a{
          color: #D4E05C;
        }
      }
      .closed{
        margin-top: 50px;
        font-size: 20px;
        color: #CCC;
        a{
          width:1200px;
          height:201px;
          margin-top: 20px;
          display:inline-block;
          background:url('../../../assets/img/finshed-trading-mining.png');
          background-size: 100%;
          background-repeat: no-repeat;
          color: #D4E05C;
          font-family: Tachyon, sans-serif;
          .finshed-title{
            color: #CCC;
            font-family: ArialMT, sans-serif;
            font-size: 16px;
            margin-top: 80px;
          }
          img{
            width: 60px;
          }
          div{
            margin-left: 410px;
          }
        }
        div{
          margin-top: 10px;
        }
        .link{
          margin-top: 30px;
        }
      }
}
