* {
  margin: 0;
  padding: 0;
}
.zh{
  .governance{
    font-family: "Microsoft YaHei";
  }
}
.governance {
  color: #cccccc;
  font-family: Arial MT, sans-serif;
  font-size: 20px;
  font-weight: 300;

  .governance_box {
    .H2 {
      font-family: Tachyon, sans-serif;
      font-weight: 300;
      color: #D4E05C;
      font-size: 32px;
      letter-spacing: 2px;
    }
    .width{
      width: 800px;
      margin: 0 auto ;
    }
    .DIP1 {
      display: flex;
      width: 800px;
      margin: 50px auto 0;
    }

    .flex {
      display: flex;
      width: 800px;
      justify-content: center;
      margin: 10px auto 0;
      align-items: center;
    }

    .radio {
      width: 800px;
      margin: 0 auto;
      margin-top: 30px;

      .fle {
        display: flex;
        justify-content: space-between;
        height: 38px;

        .rad {
          width: 220px;
        }

        .bsc,
        .heco,
        .eth {
          display: inline-block;
          width: 100%;
          height: 20px;
          line-height: 20px;

          div {
            position: relative;
            display: inline;

            span {
              position: absolute;
              right: -75px;
            }
          }
        }
        .heco{
          .I-per {
            width: 100%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }
        }
        .bsc {
          .I-per {
            width: 41.8182%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }

          .II-per {
            width: 20%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }

          .III-per {
            width: 18.1818%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }

          .IV-per {
            width: 18.1818%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }

          .VI-per {
            width: 1.81818%;
            height: 20px;
            display: inline-block;
            background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
          }
        }
      }
    }

    .deri-num {
      height: 50px;
      width: 260px;
      padding-left: 10px;
      font-size: 20px;
      border: 0;
      color: #000;
      background: #ffffff;
      outline: none;
    }

    .basetoken {
      position: relative;
      top: 15px;
      left: 10px;
    }

    .vote {
      background-image: linear-gradient(90deg, #09d3af 0%, #09b8c2 18%, #0965ff 100%);
      border-radius: 24px;
      height: 38px;
      border: 0;
      color: #fff;
      width: 200px;
      font-weight: 500;
      margin-top: 20px;
      font-size: 20px;
    }

    .dip-list {
      .list-title {
        background-image: url(../../../components/Governance/img/DIP-list.jpg);
        background-size: cover;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        .title {
          font-family: Tachyon, sans-serif;
          font-weight: 300;
          font-size: 32px;
          letter-spacing: 2px;
        }
      }

      .list-text {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #707070;
        margin: 30px 0;
        border-radius: 2px;
        padding: 0 15px 0 15px;

        button {
          order: 0;
          line-height: 30px;
          text-align: center;
          width: 71px;
          height: 38px;
          font-size: 14px;
          font-weight: bold;
          background-image: linear-gradient(90deg, #09d3af 0%, #09b8c2 18%, #0965ff 100%);
          border-radius: 24px;
        }
      }
    }
  }
}