.trading-mining{
  .title{
    font-family: Tachyon, sans-serif;
    color: #D4E05C;
    font-size: 34px;
    letter-spacing: 2px;
    text-align: center;
  }
  .count-down-box{
    width: 1100px;
    height: 200px;
    border: 1px solid #fff;
    margin-top: 20px;
  }
  .staking{
    width: 1100px;
    height: 500px;
    border: 1px solid #fff;
  }
  .trading{
    width: 1100px;
    height: 500px;
    border: 1px solid #fff;
  }
}