#footers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 91px;
  height: 120px;
  font-family: "ArialMT";
  color: #FFFFFF;
}
#footers a {
  text-decoration: none;
  color: #fff;
}
#footers a:hover {
  text-decoration: underline;
  color: #fff;
}
#footers .footer_info {
  width: 100%;
  height: 87px;
  margin-bottom: 24px;
}
#footers .footer_info .hr {
  width: 100%;
  height: 1px;
  background-color: #707070;
}
#footers .footer_info .footer_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  height: 59px;
}
#footers .footer_info .footer_box .left {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
#footers .footer_info .footer_box .left .mt_27 {
  margin-left: 10px;
}
#footers .footer_info .footer_box .left .mt_19 {
  margin-top: 5px;
}
#footers .footer_info .footer_box .left a:hover {
  color: #569BDA;
}
#footers .footer_info .footer_box .right {
  font-weight: 500;
  font-size: 20px;
}
#footers .footer_info .footer_box .right a {
  margin-left: 45px;
}
#footers .footer_info .footer_box .right a:hover .fa {
  color: #569BDA;
}
#footers .footer_info .footer_box .right .fa {
  position: relative;
  color: #2f2f2f;
}
#footers .footer_info .footer_box .right .circle {
  display: inline-block;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
