.desktop {
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		// margin-top: 40px;
		font-family: "ArialMT";
		color: #FFFFFF;
		padding: 0 40px;

		a {
			text-decoration: none;
			color: #fff;
		}

		a:hover {
			text-decoration: underline;
			color: #fff;
		}
		.wechat{
			background-color: white;
			background-image: url('../../../assets/img/wechat.jpeg');
			background-size: cover;
			border: 1px solid #707070;
			width: 99px;
			height: 99px;
			border-radius: 10px;
			display: none;
			position: absolute;
			top: -125px;
			left: -55px;
			.down-box{
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				border-bottom: 10px solid white;
				position: absolute;
				transform: rotate(180deg);
				bottom: -10px;
				right: 20px;
			}
		}

		.footer-info {
			width: 100%;
			// height: 88px;

			.hr {
				width: 100%;
				height: 1px;
				background-color: #707070;
			}

			.footer-box {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 120px;
				color: #ccc;

				.left {
					font-size: 15px;
					font-weight: 300;
					line-height: 30px;
					.mt-27 {
						margin-left: 20px;
					}
					a{
						color: #ccc;
					}
					.mt-19 {
						margin-top: 5px;
					}

					a:hover {
						color: #569BDA;
					}
				}

				.right {
					font-weight: 500;
					font-size: 20px;
					.circle {
						position: relative;
					}
					.circle:hover .wechat{
						display: block
					}
					a {
						margin-left: 45px;

					}

					a:hover .fa {
						color: #569BDA;
					}
				}
			}
		}
	}
}
.index,.team {
	.footer {
		background-color: #25282b;
		.footer-info {
			width: 1200px;
		}
	}
}
.team {
	.footer {
		background-color: #1b1c22 ;
	}
}