.broker{
  font-family: Korolev,sans-serif;
  .title{
    font-size: 32px;
    color: #D4E05C;
    font-family: Tachyon,sans-serif;
  }
  .rewards{
    position: relative;
    width: 570px;
    height: 204px;
    margin-top: 50px;
    .bg-box{
      width: 207px;
      height: 148px;
      background-color: #2f2f2f;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .reward-box{
      display: flex;
      justify-content: space-around;
      .rewards-left,.rewards-right{
        width:225px;
        height: 204px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        .rewards-one,.rewards-two,.rewards-three,.rewards-frou{
          width: 225px;
          height: 88px;
          // margin-top: 20px;
          background-color: rgb(13,14,15);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span{
            font-size: 20px;
            color: #D4E05C;
          }
          .one{
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .process{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    .invite,.bind,.earn{
      height: 42px;
      font-size: 14px;
      text-align: center;
      padding-top: 45px;
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
    }

    .invite{
      background-image: url('../../../components/Broker/img/invite.png');
      
    }
    .bind{
      background-image: url('../../../components/Broker/img/bind.png');
    }
    .earn{
      background-image: url('../../../components/Broker/img/earn.png');
    }
    .proce{
      width: 119px;
      height: 2px;
      background-color: #333333;
    }
  }
  .prpcess-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 5px;
    
    .bind-center{
      margin-right: 20px;
    }
    
  }
  .rules{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #D4E05C;
    font-size: 12px;
    padding: 0 20px;
  }
  .my-harvest{
    width: 574px;
    min-height: 610px;
    max-height: 1110px;
    background-color: #2C2D31;
    border-radius: 20px 20px 0 0 ;
    margin-top: 10px;
    position: relative;
    .header{
      width: 574px;
      height: 54px;
      border-radius: 20px 20px 0 0 ;
      background-color: #0d0e0f;
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
      color: #d4e05c;
      font-family: Tachyon,sans-serif;
      font-size: 15px;
    }
    .list{
      .my-deri{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .claim-deri{
          width: 240px;
          height: 120px;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .claimed-deri,.unclaimed-deri{
            font-size: 18px;
            margin-top: 20px;
            color: #AAAAAA;
            .claimed-num,.unclaimed-num{
              font-size: 21px;
              min-width: 50px;
              height: 27px;
              color: #fff;
            }
            .unclaimed-title{
              margin-top: 30px;
            }
            .unclaimed-num{
              margin-top: 24px;
            }
          }
        }
        .button{
          margin-top: 50px;
          .btn{
            width: 180px;
            height: 50px;
            background: #202124;
            border: 0;
            color: #ccc;
            font-size: 18px;
            font-weight: 700;
            box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
            border-radius: 10px;
          }
        }
      }
    }
    .address-list{
      .list-title{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        height: 50px;
        background-color:#202124;
        align-items: center;
        font-size: 18px;
        color: #AAAAAA;
        .time-invited{
          width: 120px;
        }
      }
      .list-box{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        height: 50px;
        align-items: center;
        font-size: 15px;
        color: #fff;
        text-align: center;
        .time{
          width: 120px;
        }
        .address{
          width: 100px;
        }
        .volume{
          width: 97px;
        }
        .deri{
          width: 60px;
        }
      }
      .list-box:nth-child(odd){
        background-color:#202124;
      }
      .list-box:last-child{
        margin-bottom: 20px;
      }
    }
    .page-of{
      display: flex;
      color: #AAAAAA;
      position: absolute;
      right: 10px;
      bottom: 3px;
      cursor: pointer;
      font-size: 14px;
      z-index: 1;
      .page{
        margin: 0 3px;
        color: #fff;
      }
    }
  }
}