.mining-info {
  min-width: 1201px;
  margin-top: -20px;
}
.mining-info .mining-info-header,
.mining-info .mining-info-footer {
  display: flex;
  height: 60px;
}
.mining-info .mining-info-header a,
.mining-info .mining-info-footer a {
  background-color: #246CAD;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #6d5959;
}
.mining-info .mining-info-header {
  flex-direction: row-reverse;
  margin-bottom: 5px;
}
.mining-info .mining-info-footer {
  margin-top: 20px;
}
.mining-info .sushi-apy-underline {
  cursor: pointer;
  border-bottom: 1px dashed #aaa;
}
.mining-info .pools {
  width: 1201px;
}
.mining-info .pools .pool {
  width: 381px;
  color: #AAAAAA;
  position: relative;
  background: rgba(13, 14, 15, 0.6);
  height: 368px;
  display: inline-block;
  border: 1px solid #707070;
  margin-left: 26px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: Korolev, sans-seri;
}
.mining-info .pools .pool .pool-header {
  height: 55px;
  background: #0D0E0F;
  border-bottom: 1px solid #707070;
  line-height: 55px;
  padding-left: 40px;
  color: #D4E05C;
  font-family: Tachyon;
  border-radius: 20px 20px 0px 0px;
}
.mining-info .pools .pool .pool-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mining-info .pools .pool .pool-info .info-center {
  width: 301px;
  margin-top: 27px;
}
.mining-info .pools .pool .pool-info .info-center .top-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.mining-info .pools .pool .pool-info .info-center .top-info .logo {
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
.mining-info .pools .pool .pool-info .info-center .top-info .BUSD {
  background-image: url(../../../assets/img/busd.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .HUSD {
  background-image: url(../../../assets/img/husd.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .hSlp {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dashed #FFFFFF;
}
.mining-info .pools .pool .pool-info .info-center .top-info .DERI-USDT {
  background-image: url(../../../assets/img/slp.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.mining-info .pools .pool .pool-info .info-center .top-info .USDT {
  background-image: url(../../../assets/img/usdt.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .BAC {
  background-image: url(../../../assets/img/bac.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .DERI {
  background-image: url(../../../assets/img/deri.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .CAKE-LP {
  background-image: url(../../../assets/img/cake.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.mining-info .pools .pool .pool-info .info-center .top-info .GIVEAWAY {
  background-image: url(../../../assets/img/deri.png);
  background-size: cover;
}
.mining-info .pools .pool .pool-info .info-center .top-info .pool-detail {
  width: 220px;
}
.mining-info .pools .pool .pool-info .info-center .top-info .pool-detail div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 8px;
}
.mining-info .pools .pool .pool-info .info-center .top-info .pool-detail .base-token {
  font-size: 32px;
  color: #FFFFFF;
  margin-top: 0;
  white-space: nowrap;
}
.mining-info .pools .pool .pool-info .info-center .top-info .pool-address a {
  color: #AAAAAA;
}
.mining-info .pools .pool .pool-info .info-center .top-info .pool-address a:hover {
  text-decoration: underline;
  color: #569bda;
}
.mining-info .pools .pool .pool-info .info-center .bottom-btn button {
  width: 301px;
  height: 50px;
  background: #202124;
  box-shadow: 0px 0px 7px rgba(170, 170, 170, 0.8);
  border-radius: 10px;
  margin-top: 40px;
  color: #fff;
  font-family: Korolev, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.mining-info .pools .loading {
  width: 381px;
  height: 355px;
  text-align: center;
  line-height: 355px;
}
.mining-info .pools .spinner-border-sm {
  width: 0.8rem;
  height: 0.8rem;
  border-width: 0.2em;
}
.mining-info .pools .pool:nth-child(3n+1) {
  margin-left: 0px;
}
