.lang-picker {
  margin-left: 20px;
  position: relative;
  line-height: 82px;
  img {
    cursor: pointer;
  }

  .lang-box.hidden{
    display: none!important;
  }
  .lang-box {
    top: 81px;
    right: -32px;
    position: absolute;
    width: 158px;
    background-color: #0D0E0F;
    color: #aaaaaa;
    padding-left: 20px;
    display: none;
    border-radius: 6px;
    z-index: 2;
    .lang-item:hover {
      color : #ffffff;
    }

    .lang-item.selected {
      color : #ffffff;
      cursor: pointer;
    }
    .lang-item {
      text-align: left;
      line-height: 50px;
      cursor: pointer;     
    }
    
  }
}
.lang-picker:hover {
  .lang-box {
    display: block;
  }
}
.mobile {
  .lang-picker {
    margin-left: 0.2rem;
    position: relative;
    line-height: 0.8rem;
    display : flex;
    align-items: center;
    font-size: 0.16rem;
    img {
      cursor: pointer;
    }
    .lang-box {
      top: 0.4rem;
      left: -0.1rem;
      position: absolute;
      // width: 1.58rem;
      background-color: #0D0E0F;
      color: #aaaaaa;
      padding-left: 0.2rem;
      display: none;

      .lang-item:hover {
        color : #ffffff;
        cursor: pointer;
      }
  
      .lang-item.selected {
        color : #ffffff;
      }
      .lang-item {
        text-align: left;
        line-height: 0.5rem;        
      }
      
    }
  }
  .lang-picker:hover {
    .lang-box {
      display: block;
    }
  }

}