@h:100vh/812;
.mobile {

  .nav{
    width: 375px;
    height: 6.15764vh;
    position: fixed;
    z-index: 9;
    background-color: #0D0E0F;
    box-shadow: 0 0.61576vh 0.98522vh rgb(43 43 46 / 75%);
    .menu{
        height: 1.97044vh;
        margin: 2.0936vh 0 0 1.23153vh;
        float: left;
    }
    .logo{
        height:5.17241vh;
        margin: .98522vh 0 0 calc(50vw - 7.88177vh);
        float: left;
        img{
            width: calc(60 * @h);
            height: calc(35 * @h);
        }
    }
  }
  .btn{
    font-size: 16px;
    font-weight: 300;
    border: 0;
  }
}