
.de {
  .trade-body .trade-position .position-info .info {
    .v1.action {
      padding-left: 0;
    }
    .info-right {
      
      .add-margin ,.remove-margin {
        width: 130px;
      }
    }
  }

  .balance-list-dialog {
    .modal-dialog {
      .modal-body {
        .balance-list {
          width : auto;
        }
        .balance-list .row {          
          .w-balance,.avail-balance {
            width: 176px;
          }
        }
      }
    }
  }
}