.add-pool {
  font-family: ArialMT, sans-serif;
  font-weight: 300;

  .Step-box {
    width: 787px;

    .step1,
    .step2,
    .step3 {
      font-size: 18px;
      border: 1px solid #707070;
      border-radius: 20px;
      width: 787px;
      .hover-title{
        display: inline-block;
        cursor: pointer;
        border-bottom: 1px dashed #707070;
      }
      .header {
        width: 785px;
        height: 75px;
        background-color: #0D0E0F;
        color: #D4E05C;
        border-radius: 20px 20px 0px 0px;
        line-height: 75px;
        font-weight: 400;
        font-family: Tachyon, sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 54px;
        padding-right: 54px;
        box-sizing: border-box;
      }

      .context {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .box {
          width: 585px;
        }
      }
    }


    .step1,.step3 {
      .context {
        color: #AAAAAA;
        .box {
          .base-title {
            font-weight: 600;
          }
          .base-token-address {
            width: 580px;
            height: 40px;
            margin-top: 20px;
            background-color: #242625;
            border: 0px;
            color: #AAA;
            font-size: 16px;
            box-sizing: border-box;
            box-shadow: 0 0 0 2px #141414;
            padding-left: 10px;
            border-radius: 5px;

          }

          .advanced {
            width: 580px;
            height: 40px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            box-sizing: border-box;
            align-items: center;
            cursor: pointer;
            .select-advanced {
              img {
                margin-left: 10px;
              }
            }
          }
          .advanced-border{
            width: 580px;
            background-color: #707070;
            height: 1px;
          }

          .margin-rewards {

            .margin-ratio-parameters,
            .rewards-for-liquidates {
              margin-top: 40px;

              .title {
                font-weight: 600;
              }

              .parameters {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                .text {
                  font-size: 16px;
                }

                .no-fix {
                  margin-right: 20px;
                }

                .input-value {
                  margin-top: 5px;

                  input {
                    width: 150px;
                    height: 40px;
                    background-color: #242625;
                    border: 0px;
                    color: #AAA;
                    font-size: 16px;
                    box-sizing: border-box;
                    padding-left: 5px;
                    box-shadow: 0 0 0 1px #141414;
                    border-radius: 5px;
                    vertical-align: bottom;
                  }

                }
              }

            }
          }

          .protocol-collect-ratio {
            margin-top: 50px;
            font-weight: 600;
          }

          .next-button {
            margin-top: 50px;

            button {
              width: 300px;
              height: 50px;
              line-height: 26px;
              border-radius: 10px;
              background-color: #202124;
              color: #ccc;
              box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
              font-size: 18px;
              font-family: Korolev, sans-serif;
              font-weight: 700;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }

          }
        }
      }
    }

    .step2 {
      .context {
        color: #AAAAAA;
        font-size: 16px;

        .box {
          width: 700px;

          .address-input {
            margin-top: 50px;
            margin-bottom: 50px;

            input {
              width: 695px;
              height: 40px;
              background-color: #242625;
              border: 0px;
              color: #AAA;
              font-size: 16px;
              box-sizing: border-box;
              box-shadow: 0 0 0 2px #141414;
              border-radius: 5px;
              box-sizing: border-box;
            }
          }
          .next-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            button{
              width: 260px;
              height: 50px;
              line-height: 26px;
              border-radius: 10px;
              background-color: #202124;
              color: #ccc;
              box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
              font-size: 18px;
              font-family: Korolev, sans-serif;
              font-weight: 700;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }
      }
    }
    .step3{
      .context {
        color: #AAAAAA;
        .box {
          width: 620px;
          .base-title {
            font-weight: 600;
          }
          .github-fock{
            margin-top: 20px;
            a{
              color: #AAAAAA;
            }
          }
          .address-token{
            margin-top: 10px;
            color: #FFFFFF;
          }
          .base-token-address {
            width: 620px;
            height: 40px;
            margin-top: 20px;
            background-color: #242625;
            border: 0px;
            color: #AAA;
            font-size: 16px;
            box-sizing: border-box;
            box-shadow: 0 0 0 2px #141414;
            border-radius: 5px;

          }

          .advanced {
            width: 585px;
            height: 55px;
            margin-top: 20px;
            background-color: #242625;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            box-sizing: border-box;
            align-items: center;

            .select-advanced {
              cursor: pointer;

              img {
                margin-left: 10px;
              }
            }
          }

          .margin-rewards {

            .margin-ratio-parameters,
            .rewards-for-liquidates {
              margin-top: 40px;

              .title {
                font-weight: 600;
              }

              .parameters {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                .text {
                  font-size: 16px;
                }

                .no-fix {
                  margin-right: 20px;
                }

                .input-value {
                  margin-top: 10px;
                  color:#FFFFFF;
                  input {
                    width: 150px;
                    height: 40px;
                    background-color: #242625;
                    border: 0px;
                    color: #AAA;
                    font-size: 16px;
                    box-sizing: border-box;
                    padding-left: 5px;
                    box-shadow: 0 0 0 1px #141414;
                    border-radius: 5px;
                    vertical-align: bottom;
                  }

                }
              }

            }
          }

          .protocol-collect-ratio {
            margin-top: 50px;
            font-weight: 600;
          }

          .next-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            width: 620px;
            button{
              width: 260px;
              height: 50px;
              line-height: 26px;
              border-radius: 10px;
              background-color: #202124;
              color: #ccc;
              box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
              font-size: 18px;
              font-family: Korolev, sans-serif;
              font-weight: 700;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}