
@green: #3EBF38;
@red: #E35061;
@text:#FFFFFF;
@title:#AAAAAA;
.trade-body {
  display: flex;
  color: #AAAAAA;
  font-family: Korolev, sans-serif;
  flex-direction: column;

  .trade-position.trade {
    .trade {
      color: #D4E05C;
    }
    .trade-info {
      display: block;
    }
    .position-info,.history-info {
      display: none;
    }  
  }
  .trade-position.position {
    z-index: 1;
    .position {
      color: #D4E05C;
    }
    .position-info {
      display: block;
    }
    .trade-info,.history-info {
      display: none;
    }
    .contract-box{
      display: none;
    }
  }
  .trade-position.history {
    z-index: 1;
    .history {
      color: #D4E05C;
    }
    .history-info {
      display: block;
      z-index: 1;
    }
    .trade-info,.position-info {
      display: none;
    }
    .contract-box{  
      display: none;
    }
  }

  .trade-position {
    background: #2C2D31;
    // border-radius: 0px 20px 0px 0px;
    .header-top {
      display: flex;
      background: #1c1c22;

      .header {
        height: 54px;
        width: 100%;
        color: #AAAAAA;
        // border-radius: 0px 20px 0px 0px;
        line-height: 54px;
        font-size: 0.13rem;
        font-weight: 400;
        font-family: Tachyon, sans-serif;
        letter-spacing: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0D0E0F;
        padding: 0px 10px;

        .position.pc {
          display: none;
        }

        span {
          cursor: pointer;
        }

        .action {
          color: #D4E05C;
        }
      }
      .contract-info-header {
        width: 50%;
        background-color:#1c1c22 ;
      }
    }


    .trade-info {
      display: flex;
      align-items: center;     
      margin: 0 0.1rem 0 0;

      .trade-peration {
        display: flex;
        flex-direction: column;

        .check-baseToken {
          display: flex;
          align-items: center;

          .check-baseToken-btn,
          .price-fundingRate {
            display: inline-block;
          }
          .price-fundingRate.pc {
            display: none
          }

          .check-baseToken-btn {
            width: 2.16rem;
            height: 68px;
            position: relative;
            background-image: url('../../../assets/img/check-basetoken.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 10px;
            cursor: pointer;

            .dropdown-menu.show {
              display: block;
              position: absolute;
              transform: translate3d(0px, 68px, 0px);
              top: -14px;
              left: 0px;
              will-change: transform;
            }
            .dropdown-menu {
              // width: 273px;
              color: #CCCCCC;
              border: 0;
              border-radius: 10px;
              padding: 0;
              margin: 0;
              top: -12px !important;
              background-color: transparent;
              background-image: url('../../../assets/img/dorpdown.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
              display: none;

              


              .dropdown-box {
                margin: 12px 0 12px 0;

              }

              span {
                padding-left: 12px;
              }
            }

            .dropdown-item {
              padding: 0;
              width: 1.96rem;
              font-size: 0.16rem;
              font-family: Korolev, sans-serif;
              color: #CCCCCC;
              margin-left: 19px;
              line-height: 32px;
              cursor: pointer;
            }

            // .dropdown-item:focus,
            // .dropdown-item:hover {
            //   color: #fff;
            //   border-radius: 10px;
            //   cursor: pointer;
            //   display: inline;
            //   text-decoration: none;
            //   background-color: #252628;
            // }



            .baseToken-list {
              position: absolute;
              z-index: 99;
            }

            .chec {
              color: @text;
              font-weight: 500;
              width: 1.98rem;
              height: 68px;
              line-height: 69px;
              display: flex;
              align-items: center;
              padding: 0;
              padding-left: 0.18rem;
              background: transparent;
              font-size: 0.16rem;
              position: relative;
              font-family: Korolev, sans-serif;

              span {
                font-size: 0.16rem;
                font-family: Korolev, sans-serif;
                font-weight: 300;
                line-height: 50px;
                border-radius: 10px;
                color: #CCCCCC;
                line-height: 10px;

              }

              .check-base-down {
                position: absolute;
                right: 0px;
              }
            }

            .btn:focus {
              box-shadow: 0 0 0 0;
            }

          }

          .price-fundingRate {
            margin-left: 0.10rem;
            font-weight: 500;
            font-size: 0.12rem;

            .rise {
              color: @green;
            }

            .fall {
              color: @red;
            }

            .funding-rate {
              padding-top: 5px;

              .funding-per {
                display: inline-block;
                color: @text;
                border-bottom: 1px #AAAAAA dotted;
                cursor: pointer;
              }
            }
          }
        }

        .check-long-short {
          display: flex;
          font-size: 0.16rem;
          width: 3.68rem;
          height: 73px;
          margin-top: 9px;
          background-image: url('../../../assets/img/check-long.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          font-weight: 500;
          justify-content: space-between;
          align-items: center;          

          .check-long,
          .check-short {
            cursor: pointer;
            width: 210px;
            text-align: center;
          }

          .check-long {
            color: @green;
          }

          .check-short {
            width: 200px;
            padding-right: 15px;
            color: @red;
          }
        }

        .checked-long.checked-short {
          background-image: url('../../../assets/img/check-short.png');
        }

        .the-input {
          display: flex;             
          margin-top: 0.09rem;
          margin-left: 0.13rem;

          .left {
            font-size: 0.12rem;
            height: 115px;

            .current-position {
              margin-left: 10px;
              font-weight: 500;

              .position-text {
                margin-left: 17px;
              }
            }

            .contrant {
              margin-top: 9px;
              background-image: url('../../../assets/img/dark-button.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
              // box-shadow: -3px -3px 3px #212224, 2px 2px 2px #353537;
              border-radius: 6px;
              display: flex;
              justify-content: center;
              position: relative;
              align-items: center;
              width: 1.85rem;
              height: 0.7rem;

              .title-volume {
                position: absolute;
                top: 6px;
                left: 20px;
                font-size: 0.1rem;
                color: #D4E05C;
                display: none;
              }

              .contrant-input {
                width: 1.40rem;
                height: 0.5rem;
                background: rgba(212, 224, 92, 0.05);
                border: 0;
                font-size: 0.2rem;
                padding-top: 10px;
                padding-right: 15px;
                padding-left: 20px;
                color: #D4E05C;
                border-radius: 3px;
                font-size: 0.16rem
              }

              .contrant-input:focus {
                // font-size: 30px;
                text-align: right;
                padding-right: 15px;
                // font-family: 'LED Calculator';
              }

              .contrant-input:focus+.title-volume {
                display: block;
              }

              .inputFamliy {
                font-size: 0.3rem;
                text-align: right;
                padding-right: 15px;
                font-family: 'LED Calculator';
              }

              .inputFamliy+.title-volume {
                display: block;
              }
            }

            .btc {
              text-align: right;
              padding-right: 17px;
              padding-top: 5px;
            }
          }

          .right-info {
            margin-top: -8px;
            display: flex;
            align-items: center;
            font-weight: 500;
            margin-left: 10px;

            .contrant-info {
              font-size: 0.12rem;
              width: 1.6rem;

              .v2-margin{
                display: flex;
                flex-direction: column;    
                .pc {
                  display: none;
                }  
              }

              div {
                display: flex;
                justify-content: space-between;
                padding-top: 3px;

                .margin {
                  color: #569BDA;
                }
              }

              .balance-contract {
                padding-top: 0px;

                .balance-contract-num {
                  font-size: 0.15rem;
                  color: @text;
                  font-weight: bold;
                  position: relative;
                }
              }
              .available-balance.pc {
                display: none
              }
              .balance-contract-text.pc{
                display: none
              }

              .available-balance-num {
                color: @text;
                font-weight: 300;
              }
            }
          }
        }

        .slider {
          margin-top: 57px;
        }

        .mt-13 {
          margin-left: 14px;
        }

        .title-margin {
          font-size: 0.1rem;
          margin-top: 10px;
          margin-left: 5px;
        }

        .enterInfo {
          margin: 20px 14px 0;
          height: 100px;

          .text-info {
            display: flex;
            justify-content: space-between;
            width: 2.3rem;
            font-size: 0.12rem;
            width : 100%;

            .text-enter {
              color: @text;
            }
          }
        }

        .noMargin-text {
          width: 100%;
          bottom: 100px;
          font-size: 0.14rem;
          color: @red;
          text-align: center;
          margin-bottom: 10px;
        }

        .submit-btn {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          flex-direction: column;
          align-items: center;

          .long-submit,
          .short-submit,
          .connect,
          .approve {
            display: initial;
            width: 300px;
            height: 50px;
            background: #202124;
            border: 0;
            color: #CCCCCC;
            font-size: 0.18rem;
            font-weight: bold;
            box-shadow: 0px 0px 7px rgba(170, 170, 170, 0.8);
            border-radius: 10px;
          }
        }
      }
    }

    .position-info {
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 0.18rem;
        font-family: Korolev, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
        position: relative;

        .pnl-list {
          vertical-align: middle;
          img {
            margin-left: 0.06rem;
            vertical-align: middle;
            cursor: pointer;
          }
          .pnl-box {
            position: absolute;
            width: 200px;
            display: none;
            z-index: 1;
            top: 2px;
            right: 44px;
            background-color: #2c2d31;
            border: 1px solid #AAAAAA;
            color: #AAAAAA;
            border-radius: 0.1rem;
            font-size: 0.14rem;
            .unrealizePnl-item {
              margin: 0.1rem 0;
              span {
                padding: 0.1rem;
                margin-left: 0.1rem;
              }
              span:last-child {
                color: #fff;
              }
            }
          }
        }

        .pnl-list:hover .pnl-box {
          display: block;
        }

        .info-left {
          display: flex;
          align-items: center;
          width: 2.9rem;          
          justify-content: space-between;
          width: 100%;
          padding: 10px;
          .balance-con {
            width: 151px;
            line-height: 20px;
          }

          .title-text {
            color: @title;
            padding-left: 20px;
          }

          .info-num ,.Direction{
            font-size: 0.16rem;
            color: @text;
            padding-right: 20px;
          }

          .LONG {
            color: @green;
          }

          .SHORT {
            color: @red;
          }
        }

        .info-right {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          div {
            width: 110px;
            height: 51px;
            //   background: #2C2D31;
            display: inline-block;
            font-size: 0.15rem;
            font-weight: 500;
            line-height: 51px;
            text-align: center;
            cursor: pointer;
            border-radius: 20px;
            background-image: url('../../../assets/img/close-add-remove.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 0px 3px;
            //   box-shadow: -3px -3px 3px rgba(163, 163, 163, 0.2);
          }

          .svg {
            margin-top: -5px;
            vertical-align: middle;
            margin-right: 2px;
          }

          .add-margin {
            color: @green;
          }

          .remove-margin {
            color: @red;
            //   margin-left: 20px;
          }

          .close-position {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              // width: 18px;
              // height: 18px;
              // margin-right: 6px;
              vertical-align: middle;
            }
          }
        }
      }

      .info:nth-child(odd) {
        background-color: #202124;
      }
    }

    .history-info {
      // white-space: nowrap;
      
      .history-box {
        padding-top: 20px;
        padding-bottom: 18px;

        

        .view.hover {
          .view-space ,.right-arrow {
            display: block;
          }
        }
        .view {
          position: absolute;
          left: -10px;
          top: 0;
          width: 2.3rem;
          display: flex;
          justify-content: flex-end;

          .view-space {
            background-color: #000;
            padding: 2px;             
            font-size: 0.14rem;
            white-space: nowrap;
            border-radius: 4px;
            display: none;
            cursor: pointer;
            a {
              color : #fff;            
            }
          }

          .view-arrow {
            img {
              padding : 0 0 2px;
              cursor: pointer;
            }
          }

          .right-arrow {            
            height: 14px;
            display: none;
            img {
              width: 14px;
              vertical-align: middle;
              left: -1px;
              position: relative;
            }
          }
        }


        .time-price-volume {
          display: flex;
          padding : 0 10px;
          justify-content: space-between;

        }

        .history-title {
          color: #AAAAAA;
          font-family: Korolev, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 0.16rem;
        }

        .notional {
          width: 120px;
          margin-left: 40px;
          text-align: left;
        }

        .history-fee {
          text-align: right;
          width: 140px;
          .history-title.pc{
            display: none;
          }
        }

        .history-text {
          font-size: 0.16rem;
          color: @text;
          font-family: Korolev, sans-serif;
          font-style: normal;
          font-weight: 500;
        }

        .time {
          color: @title;
        }

        .direction-bToken-price {
          color: #FFFFFF;
          padding : 0 0.1rem;
          padding-bottom: 5px;
          font-family: Korolev, sans-serif;
          font-style: normal;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          font-size : 0.16rem;
          position: relative;

          .LONG {
            color: @green;
          }
          .basetoken {
            margin-left: 0.04rem;
          }

          .SHORT,
          .LIQUEDITY {
            color: @red;
          }
        }
      }

      .history-box:nth-child(odd) {
        background-color: #202124;
      }
    }

    .history-info::-webkit-scrollbar {
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background-color: rgb(20, 25, 36);
    }

    /*定义滚动条轨道 内阴影+圆角*/

    .history-info::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0px rgb(20, 25, 36);
      border-radius: 10px;
      background-color: rgb(20, 25, 36);
    }

    /*定义滑块 内阴影+圆角*/

    .history-info::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 0px rgb(20, 25, 36);
      background-color: gray;
    }
  }

  .contract-box {
    height: 4.5rem;
    background: #232529;
    display: flex;
    justify-content: center;

    .contract-info {
      width: 100%;
      margin-top: 35px;


      .conntract-header {
        margin-left: 0.4rem;
        margin-bottom: 0.24rem;
        font-size: 0.15rem;
        font-family: Tachyon, sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        letter-spacing: 2px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 0.16rem;
        font-family: Korolev, sans-serif;
        font-weight: 500;
        color: #AAAAAA;

        .title {
          padding-left: 0.4rem;
        }

        .text {
          padding-right: 0.4rem;
        }
      }

      .info:nth-child(even) {
        background-color: #202124;
      }
    }
  }
}
.trading-dialog {
  
.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .modal-content {
    width: 3.4rem;
    // height: 4.3rem;
    position: relative;
    color: #AAAAAA;
    position: relative;
    background: rgba(13, 14, 15);
    display: inline-block;
    border: 1px solid #707070;
    margin-left: 26px;
    margin-top: 20px;
    border-radius: 20px;
    margin: auto;

    .modal-header {
      height: 0.55rem;
      background: #0D0E0F;
      border-bottom: 1px solid #707070;
      line-height: 55px;
      padding-left: 30px;
      font-size: 0.15rem;
      color: #D4E05C;
      font-family: Tachyon, sans-serif;;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px 20px 0px 0px;

      .close {
        color: #fff;
        padding-right: 19px;
        font-size: 0.3rem;
        font-weight: 700;
          span {
            cursor: pointer;
          }
        }
      }

      .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-weight: 300;
        font-family: Korolev, sans-serif;
        .margin-box-info {
          width: 4rem;
          margin-top: 33px;
          height: 3.2rem;
          font-size: 0.16rem;

          .max {
            margin-top: 20px;
            margin-left: 5px;
          }

          .money {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFFFFF;
            margin-top: 14px;

            .add {
              width: 10px;
              height: 10px;
              background: @green;
              border-radius: 50%;
            }

            .remove {
              width: 10px;
              height: 10px;
              background: @red;
              border-radius: 50%;
            }

            .bt-balance {
              font-size: 0.3rem;
            }
          }

          .enter-margin {
            display: flex;
            align-items: flex-end;
            margin-top: 25px;

            .input-margin {
              width: 253px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              background-image: url('../../../assets/img/dark-button.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 6px;

              .amount {
                position: absolute;
                top: 3px;
                left: 22px;
                font-size: 0.1rem;
              }

              .box {
                width: 243px;
                height: 43px;
                border: 0;
                font-size: 0.18rem;
                
                background: #1B1C1F;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 3px;

                .margin-value {
                  height: 24px;
                  width: 225px;
                  padding-left: 14px;
                  border: 0;
                  color: #fff;
                  background: #1B1C1F;
                  font-size: 0.18rem;
                }
              }
            }
          }
          .max {
            margin-top: 15px;
            .max-btn-left{
                margin-left: 20px;
            }
            span {
              color: #569BDA;
              cursor: pointer;
            }

            .max-num {
              color: #FFFFFF;
            }
          }

          .add-margin-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.3rem;

            .margin-btn {
              width: 276px;
              height: 50px;
              background: #202124;
              box-shadow: 0px 0px 7px rgba(170, 170, 170, 0.8);
              border-radius: 10px;
              color: #CCCCCC;
              font-size: 0.18rem;
            }
          }

          .remove-margin-btn {
            margin-top: 56px;
          }
        }

        .contract-box-info {
          display: flex;
          flex-direction: column;

          .enter-margin {
            display: flex;
            align-items: flex-end;
            margin-top: 25px;

            .input-margin {
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              background-image: url('../../../assets/img/dark-button.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
              border-radius: 6px;
              margin-right: 4px;

              .amount {
                position: absolute;
                top: 3px;
                left: 22px;
                font-size: 0.10rem;
              }

              .box {
                height: 43px;
                border: 0;
                font-size: 0.18rem;
                
                background: #1B1C1F;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 3px;

                .margin-value {
                  height: 24px;
                  width: 328px;
                  padding-left: 14px;
                  border: 0;
                  color: #fff;
                  background: #1B1C1F;
                }
              }
            }
          }

          .top {
            border-bottom: 1px solid rgba(112, 112, 112, 0.4470588235294118);
            .text {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 50px;
              padding-left: 9px;
              padding-right: 10px;
              font-size: 0.18rem;
              color: #FFFFFF;
              font-family:  Korolev, sans-serif;;

              .long {
                color: @green;
              }

              .short {
                color: @red;
              }
            }

            .text:nth-child(odd) {
              background: #323338;
            }
          }
        }

        .modal-footer {
          margin: 20px;
          padding: 0;
          border: 0;
          justify-content: center;

          button {    
            width: 1.4rem;
            height: 0.4rem;
            border-radius: 10px;
            color: #CCCCCC;
            font-size: 0.18rem;
            cursor: pointer;
          }

          .confirm {
            background: #202124;
            box-shadow: 0px 0px 7px rgba(170, 170, 170, 0.8);
          }

          .long-btn {
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 9px;
            padding-right: 10px;

            .cancel {
              background: #323338;
              box-shadow: -2px -2px 2px rgba(90, 90, 90, 0.8);
            }

          }

        }
      }
    }
  }
}


.balance-list-dialog {
  .modal-dialog {
    position: fixed;
    left: 0;
    top: 0.35rem;
    // transform: translate(-50%, -50%);
    font-family: Korolev,sans-serif;
    .modal-content {
      position: relative;
      display: inline-block;
      width: initial;
      height: initial;

      .modal-header {
        height: 0.54rem;
        background: #0D0E0F;
        line-height: 0.54rem;
        padding: 0 0.2rem;
        font-size: 0.15rem;
        color: #D4E05C;
        font-family: Tachyon, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.2rem 0.2rem 0 0;


        .close {
          color: #fff;
          font-size: 0.2rem;
          font-weight: 700;
          cursor: pointer;
          span {
            cursor: pointer;
          }
        }
      }

      .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2c2d31;
        padding: 0;
        border-radius: 20px;

        .balance-list {
          width : 3.75rem;
        }
        .balance-list .row {
          height: 0.5rem;
          line-height: 0.5rem;
          padding : 0 0.1rem;
          font-size: 0.16rem;
          white-space: nowrap;

          .pc {
            display: none
          }

          .btoken {
            width: 0.6rem;
          }
          .w-balance,.avail-balance {
            width: 0.8rem;
          }
          .action {
            span {
              margin-left: 0.08rem;
              cursor: pointer;
            }
          }
        }
        .balance-list .row.header {
          color: #AAAAAA;
          font-size: 0.16rem;
        }
        .balance-list .row span {
          display: inline-block;
          text-align: center;
        }
        .balance-list .row:nth-child(odd) {
          background-color: #202124;
        }
      }
    }
  }

}