.trading-mining {
  font-family: ArialMT, sans-serif;
  font-size: 0.2rem;
  font-weight: 300;

  .title {
    font-family: Tachyon, sans-serif;
    color: #D4E05C;
    font-size: 0.32rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
  }

  .count-down-box {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }

  .staking {
    width: 100%;
    margin: 0 auto;

    .rewards-bnb-deri {
      .bnb-total,
      .deri-total {
        width: 100%;
        height: 210px;
        background-color: #0D0E0F;
        border-radius: 20px;
        margin-top: 40px;
        .bnb-title,
        .deri-title {
          font-size: 0.16rem;
          color: #D4E05C;
          padding-left: 20px;
          padding-top: 10px;
          font-family: Tachyon;
        }
        .bnb-num,
        .deri-num {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 auto;
          height: 170px;
          margin-top: 6px;
          background-color: #202124;
          border-radius: 20px;
          font-size: 0.4rem;
          font-weight: bold;

          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }

  .trading {
    width: 100%;
    margin-top: 50px;

    .trading-top {
      .trading-title {
        font-size: 0.18rem;
        color: #CCCCCC;
      }

      .trading-top-list {
        margin-top: 20px;

        .list {
          width: 100%;
          height: 956px;
          background-color: #0D0E0F;
          border-radius: 20px;

          .list-title {
            padding-left: 20px;
            padding-top: 14px;
            color: #D4E05C;
            font-family: Tachyon;
          }

          .list-box {
            width: 778px;
            margin: 0 auto;
            background-color: #202124;
            height: 906px;
            margin-top: 10px;
            border-radius: 20px;

            .list-box-title {
              display: flex;
              justify-content: space-between;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 30px;
              font-size: 0.16rem;
              font-weight: 300;

            }

            .list-info {
              margin-left: 30px;
              // .no {
              //   color: #CCCCCC;
              //   width: 35px;
              //   height: 35px;
              //   text-align: center;
              //   white-space: nowrap;
              // }

              // .address {
              //   width: 100px;
              //   text-align: center;
              //   white-space: nowrap;
              // }

              // .feespaid,
              // .avgcoeff {
              //   width: 100px;
              //   text-align: center;
              //   white-space: nowrap;
              // }

              // .score {
              //   width: 57px;
              //   text-align: center;
              //   white-space: nowrap;
              // }

              // .rewardBNB {
              //   width: 126px;
              //   text-align: center;
              //   white-space: nowrap;
              // }

              .top-three {
                color: #D4E05C;
                font-size: 25px;
                font-weight: bold;
              }

              .list-info-box {
                display: flex;
                justify-content: space-between;
                padding-top: 45px;
                height: 35px;
                padding-right: 30px;
                position: relative;
              }

              .progress {
                width: 350px;
                height: 10px;
                position: absolute;
                left: 220px;
                top: 75px;

                .progress-box {
                  width: 0%;
                  height: 10px;
                  background-color: #246CAD;

                }

                .one-progress {
                  width: 100%;
                }
              }
            }
          }
        }

        .your-rewards {
          width: 560px;

          .your-estimated-rewards {
            height: 244px;
            background-color: #0D0E0F;
            border-radius: 20px;

            .your-rewards-title {
              font-size: 18px;
              color: #D4E05C;
              padding-left: 20px;
              padding-top: 20px;
              font-family: Tachyon;
            }

            .your-rewards-info {
              display: flex;
              justify-content: space-around;
              align-items: center;
              height: 188px;

              img {
                width: 31px;
                height: 31px;
              }

              .your-bnb,
              .your-deri {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 45px;
                width: 150px;
                color: #CCCCCC;
                font-weight: 400;
              }
            }
          }

          .your-score-fee-coeff {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 188px;
            background-color: #202124;
            border-radius: 20px;
            border: 1px solid #0D0E0F;
            margin-top: 20px;
            font-size: 21px;
            box-sizing: border-box;
            .your-score-num,
            .your-fee-num,
            .your-coeff-num {
              font-size: 45px;
              font-weight: 400;
              color: #CCCCCC;
              margin-top: 20px;
              text-align: center;
            }
          }

          .raise-score {
            width: 560px;
            height: 276px;
            border-radius: 20px;
            margin-top: 20px;
            border: 1px dashed #CCCCCC;
            padding: 20px;
            box-sizing: border-box;

            .raise-score-title {
              font-size: 18px;
              color: #D4E05C;
              padding-left: 20px;
              padding-top: 10px;
              font-family: Tachyon;
            }

            .button-link {
              display: flex;
              justify-content: space-between;
              align-items: center;

              a {
                background: #202124;
                box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
                border-radius: 10px;
                color: #ccc;
                width: 160px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                margin-top: 40px;
              }
            }
            .des{
              margin-top: 40px;
              font-size: 16px;
            }
            
          }
          .pool-total-scored{
            height: 188px;
            background-color: #202124;
            border-radius: 20px;
            border: 1px solid #0D0E0F;
            margin-top: 20px;
            font-size: 21px;
            padding: 20px;
            box-sizing: border-box;
            color: #CCCCCC;
            .pool-total-num{
              margin-top:30px ;
              font-size: 45px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  

  
}