.trading-mining {
  font-family: ArialMT, sans-serif;
  font-size: 0.2rem;
  font-weight: 300;

  .title {
    font-family: Tachyon, sans-serif;
    color: #D4E05C;
    font-size: 0.32rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
  }

  .count-down-box {
    width: 100%;
    margin: auto;
  }

  .staking {
    width: 95%;
    margin: 0 auto;

    .rewards-bnb-deri {
      .bnb-total,
      .deri-total {
        width: 100%;
        height: 147px;
        background-color: #0D0E0F;
        border-radius: 20px;
        margin-top: 40px;
        .bnb-title,
        .deri-title {
          font-size: 0.16rem;
          color: #D4E05C;
          padding-left: 20px;
          padding-top: 10px;
          font-family: Tachyon;
        }
        .bnb-num,
        .deri-num {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 auto;
          width: 99%;
          height: 90px;
          margin-top: 6px;
          background-color: #202124;
          border-radius: 20px;
          font-size: 0.4rem;
          font-weight: bold;

          img {
            width: 80px;
            height: 80px;
          }
        }
        .deri-num{
          height: 109px;
        }
      }
    }
  }

  .trading {
    width: 100%;
    margin-top: 50px;

    .trading-top {
      .trading-title {
        font-size: 0.18rem;
        color: #CCCCCC;
      }

      .trading-top-list {
        margin-top: 20px;

        .list {
          width: 100%;
          height: 956px;
          background-color: #0D0E0F;
          border-radius: 20px;
          margin-top: 20px;
          .list-title {
            padding-left: 20px;
            padding-top: 14px;
            color: #D4E05C;
            font-family: Tachyon;
          }

          .list-box {
            width: 99%;
            margin: 0 auto;
            background-color: #202124;
            height: 906px;
            margin-top: 10px;
            border-radius: 20px;
            .no {
              color: #CCCCCC;
              width: 10%;
              text-align: center;
              img{
                width: 28px;
                height: 28px;
              }
            }

            .address {
              width: 25%;
              text-align: center;
              white-space: nowrap;
            }
            .score{
              width: 15%;
              text-align: center;
            }

            .list-box-title {
              display: flex;
              justify-content: space-between;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 30px;
              font-size: 0.16rem;
              font-weight: 300;

            }

            .list-info {
              margin-left: 30px;
              font-size: 0.14rem;
              .top-three {
                color: #D4E05C;
                font-size: 0.18rem;
                font-weight: bold;
              }

              .list-info-box {
                display: flex;
                justify-content: space-between;
                padding-top: 45px;
                height: 35px;
                padding-right: 30px;
                position: relative;
              }

              .progress {
                width: 350px;
                height: 10px;
                position: absolute;
                left: 220px;
                top: 75px;

                .progress-box {
                  width: 0%;
                  height: 10px;
                  background-color: #246CAD;

                }

                .one-progress {
                  width: 100%;
                }
              }
            }
          }
        }

        .your-rewards {
          width: 95%;
          margin: 0 auto;
          .your-estimated-rewards {
            height: 246px;
            background-color: #0D0E0F;
            border-radius: 20px;

            .your-rewards-title {
              font-size: 0.18rem;
              color: #D4E05C;
              padding-left: 20px;
              padding-top: 20px;
              font-family: Tachyon;
            }

            .your-rewards-info {
              height: 190px;
              width: 99%;
              margin:0 auto;
              border-radius: 20px;
              background-color: #202124;
              margin-top: 11px;
              padding-top: 20px;
              padding-left: 30px;
              box-sizing: border-box;
              img {
                width: 31px;
                height: 31px;
              }

              .your-bnb,
              .your-deri {
                display: flex;
                align-items: center;
                font-size: 0.36rem;
                margin-top: 10px;
                width: 170px;
                color: #CCCCCC;
                font-weight: 400;
                white-space: nowrap;
                .span{
                  margin-left: 20px;
                }
              }
            }
          }

          .your-score-fee-coeff {
            height: 340px;
            margin: 0 auto;
            background-color: #202124;
            border-radius: 20px;
            border: 1px solid #0D0E0F;
            margin-top: 20px;
            font-size: 21px;
            box-sizing: border-box;
            padding-left: 30px;
            padding-top: 20px;
            .your-score-num,
            .your-fee-num,
            .your-coeff-num {
              font-size: 0.36rem;
              font-weight: 400;
              color: #CCCCCC;
            }
            .your-score,.your-fee,.your-coeff{
              margin-top: 20px;
            }
          }

          .raise-score {
            height: 450px;
            border-radius: 20px;
            margin: 0 auto;
            // margin-top: 20px;
            // border: 1px dashed #CCCCCC;
            // padding: 20px;
            box-sizing: border-box;


            .raise-score-title {
              font-size: 18px;
              color: #D4E05C;
              padding-left: 20px;
              padding-top: 10px;
              font-family: Tachyon;
            }

            .button-link {
              margin-top: 20px;
              a {
                margin: 0 auto;
                display: block;
                background: #202124;
                box-shadow: 0 0 7px hsl(0deg 0% 67% / 80%);
                border-radius: 10px;
                color: #ccc;
                width: 200px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                margin-top: 20px;
              }
            }
            .des{
              margin-top: 40px;
              font-size:0.14rem;
            }
            
          }
          .totalpoints{
            margin-top: 20px;
            .total-points-title{
              font-size: 0.14rem;
              color: #CCCCCC;
            }
            .dial{
              background-color: #0D0E0F;
              border-radius: 20px;
              margin-top: 20px;
              height: 514px;
              .total-points{
                font-size: 0.18rem;
                color: #D4E05C;
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
                font-family: Tachyon;
                display: flex;
                justify-content: space-between;
              }
              .dial-box{
                width: 99%;
                height: 459px;
                margin: 0 auto;
                background-color: #202124;
                border-radius: 20px;
                margin-top: 10px;
                border: 1px solid transparent;
                .dial-box-info{
                  width: 300px;
                  height: 87px;
                  background-color: #0D0E0F;
                  border-radius: 20px;
                  font-size: 0.10rem;
                  color: #CCCCCC;
                  margin: 0 auto;
                  padding: 12px 0  0 12px;
                  box-sizing: border-box;
                  .dial-box-info-title{
                    font-size: 0.12rem;
                    font-family: Tachyon;
                    color: #D4E05C;
                  }
                  .dial-box-info-time{
                    margin-top: 5px;
                  }
                  .dial-box-info-points{
                    color: #fff;
                    font-size: 0.18rem;
                    margin-top: 5px;
                  }
                  .fourth{
                    margin-top: -5px;
                  }
                }
                .dial-box-info:nth-child(1){
                  margin-top:20px;
                }
                .add{
                  text-align: center;
                  img{
                    width: 10px;
                    height: 10px;
                  }
                }
              }
            }
          }
          
        }
      }
    }
    .activity-rules{
      a{
        color: #ffffff;
        text-decoration-line:revert;
      }
    }
  }
  

  
}
  .desktop-list{
    display: none;
  }
