.desktop {
  .nav {
    .nav-container {
      background-color: #0d0e0f;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 40px;
      min-width: 1300px;
      font-family: ArialMT, sans-serif;

      .use-deri {
        display: none;
      }

      .nav-right {
        display: flex;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      a:hover {
        text-decoration: none;
        color: #fff;
      }

      .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;

        .logo {
          width: 85.78px;
          img {
            font-size: 0;
            float: left;
            width: 85.78px;
            height: 50px;
          }
        }

        .mean {
          height: 80px;
          ul {
            // float: left;
            padding-left: 0px;
            margin: 0;
          }
          li {
            float: left;
            list-style: none;
            margin-left: 30px;
            font-size: 20px;
            height: 80px;
            font-weight: 300;
            line-height: 80px;
            cursor: pointer;
            color: #ffffff;
            font-family: ArialMT, sans-serif;

            a {
              color: #cccccc;
            }
          }

          .selected,
          li:hover a {
            color: #ffffff;
          }
          .more{
            color: #cccccc;
          }
          .ref {
            position: relative;

            i {
              vertical-align: middle;
              svg {
                vertical-align: sub;
              }
            }

            .ref-box {
              padding-left: 0;
              display: none;
              width: 139px;
              margin-top: 2px;
              border-radius: 4px;
              padding-top: 8px;
              padding-bottom: 8px;
              position: absolute;
              top: 79px;
              z-index: 9;
              background-color: #0d0e0f;

              li {
                width: 139px;
                height: 30px;
                font-family: ArialMT, sans-serif;
                line-height: 30px;
                padding-left: 15px;
                float: none;
                font-size: 14px;
                margin-left: 0;

                a {
                  color: #cccccc;
                }

                a:hover {
                  color: #ffffff;
                }
              }
            }
          }

          .ref:hover .ref-box {
            display: block;
          }
        }

        .version {
          cursor: pointer;
          line-height: 80px;
          margin-left: 20px;
          height: 80px;
          display: flex;
          align-items: center;
          color: #aaaaaa;
          font-size: 20px;
          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.team .team-item ,.oldpool .oldpool-item,.signin .signin-item ,.governance .governance-item,.diphistory .governance-item, .lite .trade-item , .pro .trade-item, .mining .mining-item, .bridge .bridge-item, .broker .broker-item, .brokerbind .brokerbind-item {
    color: #fff!important;
    display: inline-block;
    height: 55px;
    border-bottom: 2px solid #AAAAAA;
}
.team .team-item ,.broker .broker-item, .brokerbind .brokerbind-item,.oldpool .oldpool-item,.signin .signin-item{
  height: 30px;
}
.index,
.team {
  .nav {
    background-color: #0d0e0f;
    display: flex;
    .nav-container {
      width: 1200px;
      margin: 0 auto;
      padding: 0;

      .use-deri {
        display: block;
        margin: 17px 0;
        width: 200px;
        height: 46px;
        border-radius: 23px;
        color: #fff;
        background-color: #246cad;
        font-weight: 500;
        font-size: 20px;
        line-height: 46px;
        text-align: center;
      }
      .nav-menu {
        .version {
          display: none;
        }
      }
      .nav-right {
        .connect {
          display: none;
        }
      }
    }
  }
}
