.info {
  color: #aaaaaa;
  font-family: ArialMT, sans-serif;

  .title {
    color: #D4E05C;
    font-size: 16px;
    font-family: Tachyon;
    margin-bottom: 4px;
  }
  .chart {

  }
  .table-by-network {
    display: flex;
    flex-direction: column;

    .info-table {
      margin: 20px 0;
      a {
        color: inherit;
      }
      a:hover{
        text-decoration: underline;
      }
      .t-title {
        color: #D4E05C;
        font-size: 14px;
        background: #0d0e0f;
        border-radius: 15px 15px 0 0;
        padding: 14px;
      }
      .col {
        width: 150px;
        flex-grow: 1;
      }
      .theader {
        color: #ffffff;
        display: flex;
        font-size: 14px;    
        justify-content: space-around;
        border-bottom: 1px solid #0d0e0f;
        padding: 4px 0;
      }
      .tbody {
        background: #2C2D31;
        .col {
          padding: 10px;
          .direction,.action,.catalog{
            border: 1px solid #ffffff;
            padding: 2px 20px;
            border-radius: 10px;
            color: #fff;
          }
          .direction.liquidate {
            background-color: #FE0000;
          }
          .direction.short,.action.removeliquidity {
            background-color: #E35061;
          }
          .direction.long,.action.addliquidity {
            background-color: #3EBF38;
          }
        }
        .row {
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid #0d0e0f;
          padding: 2px 0;
        }
        .row:nth-child(even){
          background-color: #0d0e0f;
        }
        .row:hover {
          // background-color: #0d0e0f;
          color: #fff;
          cursor: pointer;
        }
      }
      .row.pagination {
        justify-content: center;
        text-align: center;
        padding: 10px;
        .arrow {
          margin :  0 10px;
          cursor: pointer;
        }
      }
    }
  }
}