.info .body .info {
  color: #ffffff;
  font-family: ArialMT, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 80px);
  width : calc(100vw - 100px);
  margin: auto;


  .title {
    color: #D4E05C;
    font-size: 16px;
    margin-bottom: 20px;
    a {
      color: #D4E05C;
    }
    a:hover {
      text-decoration:underline;
    }
  }
  .chart-box {
    display: flex;
    justify-content: space-between;
    .chart {
      width: 46%;
      // height: 350px;
      padding: 10px;
      border-radius: 20px;
      border: 1px solid #212327;
      background: #212327;
      .info-chart{
        position: relative;
        .chart-title {
          padding: 0 0 0 10px;
          // position: absolute;
          z-index: 2;
          .title-label {
            font-size: 20px;
            color: #00659f;
          }
          .title-value {
            margin-top: 10px;
            font-size: 30px;
            font-weight: bold;
            color: #ffffff;
          }
          .title-date {
            color: #ffffff;
            margin-top: 10px;
            font-size: 12px;
            height: 12px;
          }
        }
        .cycle-c {
          position: absolute;
          right: 10px;
          top: 10px;
          display: flex;
          z-index: 3;
          .cycle-item {
            margin-right: 10px;
            font-weight: 500;
            text-align: center;
            outline: none;
            border: 1px solid transparent;
            text-decoration: none;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            flex-wrap: nowrap;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            z-index: 1;
            padding: 4px;
            width: fit-content;
            font-size: 12px;
            border-radius: 4px;
            min-width: 30px;
            background-color: rgb(44, 47, 54);
            color: rgb(255, 255, 255);
          }
          .cycle-item:hover {
            // border : 1px solid #cccccc;
            background-color: rgb(44, 47, 54);
            color: rgb(255, 255, 255);
            opacity: 0.6;
            cursor: pointer;
          }
          .cycle-item.selected{
            background-color: #0d0e0f;
            cursor: pointer;
          }
        }
      }
    }

  }
  .table-by-network {
    display: flex;
    flex-direction: column;

    .info-table {
      margin: 20px 0;
      color : #aaa;
      font-size: 14px;
      a {
        color: inherit;
      }
      a:hover{
        text-decoration: underline;
      }
      .t-title {
        color: #D4E05C;
        font-size: 14px;
        background: #0d0e0f;
        border-radius: 15px 15px 0 0;
        padding: 14px;
      }
      .col {
        width: 200px;
        flex-grow: 1;
      }
      .theader {
        color: #ffffff;
        display: flex;
        font-size: 14px;    
        justify-content: space-around;
        border-bottom: 1px solid #0d0e0f;
        padding: 4px 0;
      }
      .tbody {
        background: #2C2D31;
        .col {
          padding: 10px;
          .direction,.action{
            // border: 1px solid #ffffff;
            padding: 2px 20px;
            border-radius: 10px;
            color: #fff;
          }
          .direction.liquidate {
            background-color: #FE0000;
          }
          .direction.short,.action.removeliquidity {
            background-color: #E35061;
          }
          .direction.long,.action.addliquidity {
            background-color: #3EBF38;
          }
        }
        .no-data {
          text-align: center;
          color: #fff;
        }
        .row {
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid #0d0e0f;
          padding: 2px 0;
        }
        .row:nth-child(even){
          background-color: #0d0e0f;
        }
        .row:hover {
          color: #fff;
        }
      }
      .row.pagination {
        justify-content: center;
        text-align: center;
        padding: 10px;
        .arrow {
          margin :  0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px){
  .info .body .info {
    width : calc(100vw - 400px)
  }
}

@media screen and (max-width : 750px) and (min-width : 375px){
  .info .body .info {
    width: 98vw;
    .title {
      font-size: 14px;
      margin : 12px 0px 12px 10px;
    }
    .chart-box {
      flex-direction: column;
      justify-content: center;
      .chart {
        width: 100%;
        padding: 0;
        margin : 0px 0px 20px 0px;
        .info-chart {
          .chart-title {
            padding: 10px 10px;
          }
        }
      }
    }
  .table-by-network .info-table {
    .tbody {
      overflow: auto;
      .theader ,.row{
        white-space: nowrap;
        justify-content: flex-start;
        width: max-content;
      }
    }
    .row {
      font-size: 12px;
    }
    .col {
      width: 100px;
      flex-grow: 1;
    }
  }
}}
