.info {
  color: #aaaaaa;
  font-family: ArialMT, sans-serif;

  .title {
    color: #D4E05C;
    font-size: 16px;
    font-family: Tachyon;
    margin-bottom: 4px;
  }
  .chart {

  }
  .table-by-network {
    display: flex;
    flex-direction: column;

    .info-table {
      margin: 20px 0;
      background-color: #2C2D31;
      .t-title {
        color: #D4E05C;
        font-size: 14px;
        background: #0d0e0f;
        border-radius: 10px 10px 0 0;
        padding: 14px;
      }
      .theader {
        color: #ffffff;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        border-bottom: 1px solid #0d0e0f;
        padding: 4px 0;
      }
      .tbody {
        background: #2C2D31;
        .col {
          padding: 10px;
        }
        .row {
          display: flex;
          border-bottom: 1px solid #0d0e0f;
          padding: 2px 0;
        }
      }
      .pagination {

      }
    }
  }
}